<div class="d-flex justify-content-center">
  <%= simple_form_for [ @list, @bookmark ] do |f| %>
  <%= f.input :comment %>
  <%= f.association :list %>
  <%= f.association :movie %>
  <%= f.submit "Leave a comment:", class: "btn btn-primary" %>
<% end %>
</div>
<p class="text-center">
  <%= link_to "All lists", lists_path(@list)%>
</p>

